
<ejs-richtexteditor [toolbarSettings]="customToolbar" [floatingToolbarOffset]="0"
[quickToolbarSettings]="inlineToolbarOptions">
<ng-template #valueTemplate>
    <p>The Rich Text Editor component is <b>WYSIWYG</b>(“what you see is what you get”) editor.
    It is used to create, edit and return the content in valid HTML markup or markdown (MD). 
    The editor provides a standard toolbar to format content using its commands.    
    Modular library features to load the necessary functionality on demand.
    The toolbar contains commands to align the text, insert link, insert image, insert list, undo/redo operation, HTML view, and more.</p>
    
    <p> <b> Key features </b> </p>

    <ul>
        <li>
            <p>Provides &lt;IFRAME&gt; and &lt;DIV&gt; modes</p>
        </li>
        <li>
            <p>Capable of handling markdown editing.</p>
        </li>
        <li>
            <p>Contains a modular library to load the necessary functionality on demand.</p>
        </li>
        <li>
            <p>Provides a fully customizable toolbar.</p>
        </li>
        <li>
            <p>Provides HTML view to edit the source directly for developers.</p>
        </li>
        <li>
            <p>Supports third-party library integration.</p>
        </li>
        <li>
            <p>Allows a preview of modified content before saving it.</p>
        </li>
        <li>
            <p>Handles images, hyperlinks, video, hyperlinks, uploads, etc.</p>
        </li>
        <li>
            <p>Contains undo/redo manager.</p>
        </li>
        <li>
            <p>Creates bulleted and numbered lists.</p>
        </li>
    </ul> 

    <img src="assets/images/RTEImage-Feather.png" style="width: 250px; height: 200px" />    
</ng-template>
</ejs-richtexteditor>
  
  